
@*
<section id="widgets">
    <div class="indent">
        <div class="container">

            <div class="grid_2">
                    <!-- BEGIN NAV Widget -->
                <div class="widget widget-nav">
                    <h4>Pages</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="how-it-works.html">How it works</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="about-us.html">About us</a></li>
                        <li><a href="contact-us.html">Contact us</a></li>
                    </ul>
                </div>
                    <!-- END NAV Widget -->
            </div>

            <div class="grid_3">
                    <!-- BEGIN SOCIAL LINKS Widget -->
                <div class="widget widget-social">
                    <h4>Social media</h4>
                    <ul class="social-links">
                        <li class="facebook"><a href="#">Be a fan on Facebook</a></li>
                        <li class="twitter"><a href="#">Follow us on Twitter</a></li>
                        <li class="google-plus"><a href="#">Join us on Google Plus</a></li>
                        <li class="linkedin"><a href="#">Find us on Linkedin</a></li>
                        <li class="rss"><a href="#">RSS feed</a></li>
                        <li class="skype"><a href="#">Our Skype</a></li>
                    </ul>
                </div>
                    <!-- END SOCIAL LINKS Widget -->
            </div>

            <div class="grid_3">
                    <!-- BEGIN TWITTER Widget -->
                <div class="widget widget-twitter">
                    <div id="twitter" class="twitter"></div>
                </div>
                    <!-- END TWITTER Widget -->
            </div>

            <div class="grid_4 colborder">
                <div class="extra-widget-area">
                    <div class="inner">

                            <!-- BEGIN REQUEST Widget -->
                        <div class="widget widget-request">
                            <h4>Demo version of application here:</h4>
                                <!-- .btn -->
                            <a href="#" class="btn full-w">
                                <span class="btn-inner">Live Demo<em>click here</em>
                                    <i class="marker"></i></span>
                            </a>
                                <!-- //.btn -->
                        </div>
                            <!-- END REQUEST Widget -->

                            <!-- BEGIN NEWSLETTER Widget -->
                        <div class="widget widget-newsletter">
                            <h4>Get our newsletter:</h4>
                            <form id="newsletter-form">
                                <input type="text" name="newsletter-text-input" id="newsletter-text-input" value="" placeholder="your email..." />
                                <div class="submit-holder">
                                    <input type="submit" value="" />
                                </div>
                            </form>
                        </div>
                            <!-- END NEWSLETTER Widget -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@

<footer id="footer">
    <div class="container">
        <div class="grid_12">

                版权所有©
            <a href="http://www.chinawestagr.com/" target="_blank">四川省农业科学院</a>
            。蜀ICP备09003198号

                地址：成都市锦江区静居寺路20号 邮编：610066 院办公室电话：028-84504198 84504011

        </div>
    </div>
</footer>

