@()(implicit session: Session)
@chinese.home.main(""){



        <div id="content-wrapper" class="large-text">

            <section class="indent">

                <div class="container">

                    <div class="grid_11">

                        <div class="intro-widget" style="text-align: left">

                            <h2 style="float: left;
                                margin-top: 10px;">小 麦</h2>

                            <p style="margin-left: 7em;">是一种因其种子而被广泛种植的草，种子是一种谷物，是世界范围内的主食。许多种小麦共同
                                组成了小麦属;最广泛种植的是普通小麦。</p>
                            <p>考古记录表明，小麦最早是在公元前9600年左右的新月沃土地区种植的。从植物学上讲，小麦核是一种叫做
                                核桃仁的水果。</p>
                            <p>小麦的种植面积超过了其他任何粮食作物(2.204亿公顷，2014)。中国英语学习网世界小麦贸易超过所有
                                其他农作物的总和。2016年，全球小麦产量为7.49亿吨，使其成为仅次于玉米的第二大谷物。自
                                1960年以来，世界小麦和其他粮食作物的产量增加了两倍，预计到21世纪中叶还会进一步增长。由于面筋
                                蛋白具有独特的粘弹性和粘结性，有利于加工食品的生产，随着世界范围的工业化进程和饮食的西方化，
                                加工食品的消费量也在增加。</p>

                        </div>

                        <style>

                                .img-holder {
                                    text-align: center;
                                }

                                .home-services li {
                                    float: left;
                                }

                        </style>

                        <section>
                            <h2 style="margin-bottom: 10px;color: #115B87">快速导航</h2>

                            <ul class="home-services">

                                <li>
                                    <figure class="img-holder">
                                        <a href="#">
                                            <i class="fa fa-search" style="font-size: 100px"></i>
                                            <h1>基因组</h1>
                                        </a>
                                    </figure>
                                </li>

                                <li>
                                    <figure class="img-holder">
                                        <a href="#">
                                            <i class="fa fa-wrench" style="font-size: 100px"></i>
                                            <h1>BLAST</h1>
                                        </a>
                                    </figure>
                                </li>

                                <li>
                                    <figure class="img-holder">
                                        <a href="#">
                                            <i class="fa fa-download" style="font-size: 100px"></i>
                                            <h1>下载</h1>
                                        </a>
                                    </figure>
                                </li>

                                <li>
                                    <figure class="img-holder">
                                        <a href="#">
                                            <i class="fa fa-database" style="font-size: 100px"></i>
                                            <h1>相关文献</h1>
                                        </a>
                                    </figure>
                                </li>



                                <li>
                                    <figure class="img-holder">
                                        <a href="#">
                                            <i class="fa fa-phone" style="font-size: 100px"></i>
                                            <h1>联系我们</h1>
                                        </a>
                                    </figure>
                                </li>
                            </ul>
                        </section>

                    </div>

                    <div class="grid_4">

                        <a href="single-service.html" class="img-hover" ><img src="/assets/images/image2.png" width="300px"></a>

                        <style>

                                .ui.big.label {
                                    font-size: 14px;
                                }

                                .ui.teal.ribbon.label.big {
                                    font-weight: unset;
                                }

                                .raised.segment p {
                                    font-size: 14px;
                                }

                        </style>

                        <div class="ui raised segment">
                            <h4 class="text-primary">
                                <span class="ui teal ribbon label big">
                                    <i class="fas fa-chart-pie"></i>
                                    数据统计
                                </span>
                            </h4>
                            <br>
                            <p><i class="fa fa-chevron-circle-right"></i> 小麦基因组: 90,000+</p>

                        </div>

                        <div class="ui raised segment">
                            <h4 class="text-primary"><span class="ui teal ribbon label big"><i class="fas fa-chart-pie"></i>
                                版本说明 </span>
                            </h4>
                            <br>
                            <p><i class="fa fa-chevron-circle-right"></i>
                                小麦基因组数据库于2019年6月上线。</p>

                        </div>

                    </div>

                </div>

            </section>

        </div>


    @chinese.home.footer()


}


