@()(implicit session: Session)
    @english.home.main("Sequences Fetch") {



    <div id="content-wrapper" class="large-text">

        <section class="indent">

            <div class="container">

                <hgroup class="page-head">
                    <h2 style="color: #207499">Sequences Fetch</h2>
                </hgroup>

                <hr style="border-top: 1px solid #d9d9d9;"/>

                <div>
                    <form class="registration-form form-horizontal" id="conditionForm"
                    style="margin: 20px;">

                        <div class="form-group" style="margin-top: 10px;display: none">
                            <label class="control-label col-sm-2 col-sm-offset-1">Select annotation:</label>
                            <div class="col-sm-6">
                                <select class="form-control" name="species" id="species">
                                    <option value="genome/brassica.fasta">Brassica Genome</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group" style="margin-top: 15px">
                            <label class="control-label col-sm-2 col-sm-offset-1">Search text:</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="region" id="region" rows="5"></textarea>
                                <span class="help-block">e.g.,&nbsp;<a href="#"><em id="egChr">
                                    Example</em></a></span>
                            </div>
                        </div>

                        <div class="form-group" style="margin-top: 35px">
                            <div class="actions col-sm-offset-3 col-sm-3">
                                <button type="button" id="search"
                                class="btn btn-primary btn-green" onclick="mySearch()" style="width: 80%;
                                    margin-top: 5px">Search</button>
                            </div>
                            <div class="actions col-sm-3" style="text-align: right">
                                <button type="reset" class="btn btn-primary btn-green" id="reset" style="width: 80%;
                                    margin-top: 5px">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <div id="result" style="display: none">
                        <hr>
                        <h4>Sequence:</h4>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control monospace" name="queryText" id="queryText" rows="15"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>


        <script>
                $(function () {

                    $('#egChr').click(function () {
                        var eg = "A01:1-2000 A02:2500-4000";
                        var species = $("#species").val();
                        $('#region').empty().val(eg).focus();
                        $("#conditionForm").formValidation("revalidateField", "region")
                    });

                    $('#reset').click(function () {
                        $('#region').val("").focus();
                        $("#conditionForm").formValidation("revalidateField", "region")
                    });

                    formValidation()

                });

                function formValidation() {
                    $('#conditionForm').formValidation({
                        framework: 'bootstrap',
                        icon: {
                            valid: 'glyphicon glyphicon-ok',
                            invalid: 'glyphicon glyphicon-remove',
                            validating: 'glyphicon glyphicon-refresh'
                        },
                        fields: {
                            region: {
                                validators: {
                                    notEmpty: {
                                        message: 'Region is required！'
                                    }
                                }
                            }
                        }
                    });
                }

                function mySearch() {
                    var form = $("#conditionForm");
                    var fv = form.data("formValidation");
                    fv.validate();
                    if (fv.isValid()) {
                        var element = "<div id='content'><span id='info'>Query...</span>&nbsp;<img class='runningImage' src='/assets/images/running2.gif' style='width: 30px;height: 20px;'></div>"
                        var index = layer.alert(element, {
                            skin: 'layui-layer-lan'
                            , closeBtn: 0,
                            title: "Info",
                            btn: []
                        });

                        $("#search").attr("disabled", true).html("Search...");
                        $.ajax({
                            url: "@routes.ToolsController.seqRegion()",
                            type: "post",
                            data: $("#conditionForm").serialize(),
                            success: function (data) {
                                $("#search").attr("disabled", false).html("Search").blur();
                                layer.close(index);
                                if (data.valid == "false") {
                                    swal("Error", data.message, "error");
                                    $("#result").hide()
                                } else {
                                    $("#queryText").val(data.data);
                                    $("#result").show()
                                }
                            }
                        });
                    }
                }
        </script>


    }